
<div class="cards">
  <div class="col-md-12 text-center">
  <h3>Bienvenido: {{ nameUser }}</h3>
      <button type="button" (click)="generateNumberRandom()" [disabled]="!isNumberCorrect" class="btn btn-success">Volver a participar</button>
    <div class="card__result card-1">
      <div class="card__icon"> 
      </div>
      <p class="card__exit"><i class="fas fa-times"></i></p>
      <span class="badge bg-success" *ngIf="isNumberCorrect"><h2>Numero escondido: {{ calcNumberRandom }}</h2></span>
      <span class="badge bg-danger" *ngIf="!isNumberCorrect" ><h2>Intente de nuevo</h2></span>
    </div>
  </div>
    <div class="col-md-12 text-center">
      <div class="card__result card-2">
        <div class="card__icon"><i class="fas fa-bolt"></i></div>
        <p class="card__exit"><i class="fas fa-times"></i></p>
        <h2 class="card__title mb-2">Debe elegir un número del 1 hasta el 100.</h2>
        <div class="input-group input-group-lg mb-1">
          <span class="input-group-text" id="inputGroup-sizing-lg">Ingrese el número</span>
        </div>
          <form [formGroup]="myForm" (submit)="calc()">
            <input customFocus type="number" formControlName="chosenNumber"  class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
            <button type="submit" mat-raised-button class="mt-3" color="accent">Enviar</button>
          </form>
      </div>
    </div>
</div>
<div class="alert__container">
  <div class="alert alert-danger text-center" *ngIf="validationAlert && !isNumberCorrect" role="alert">
    <h4>{{ result }} ingreso: ({{ numberChoose }})</h4>
  </div>
</div>
<div class="alert__container__success">
    <div class="alert alert-success text-center" *ngIf="validationAlert && isNumberCorrect" role="alert">
      <h4>{{ result }} ingreso: ({{ numberChoose }})</h4>
    </div>
</div>

{{calcNumberRandom}}

